body {
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
.container-custom {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header-box {
    background-color: #28a745;
    border-radius: 15px 15px 0 0;
    padding: 20px;
    text-align: center;
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.navbar-box {
    background-color: #e9ecef;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    padding: 10px;
    margin-bottom: 5px;
}
.navbar-custom {
    background-color: transparent;
    padding: 0;
}
.nav-link {
    color: #28a745 !important;
}
.dropdown-menu {
    border-radius: 10px;
}
.dropdown-menu a {
    color: #28a745 !important;
}
.navbar-nav {
    margin: 0 auto;
}

.nav-item:hover .dropdown-menu, 
.dropdown-menu:hover {
    display: block;
}
.dropdown-menu {
    display: none;
    margin-top: 0;
}

.content-box {
    border: 2px solid #e9ecef;
    border-radius: 15px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    flex: 1;
    display: flex;
    justify-content: center;
}

.footer-box {
    background-color: #28a745;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    margin-top: 5px;
}

.terms-content {
    max-width: 80%;
    text-align: justify;
    padding: 20px;
}
